

.Formulaire{
	
	width: 90%;
	height: 600px;
	background-color: transparent;
	margin-left: 20%;
	margin-right: 5%;
	margin-top: 10%;
	
}
	

input{
	border:2px solid black;
}



fieldset{
	border-color: blue;
	border-bottom-color: red;
	width: 900px;
	border:3px solid black;
	
	
}


legend{
	font-size: 20px;
	color: red;
	
	
}
#Valider{
	background-color: green;
}


#Annuler{
	background-color: red;
}