
.HistoireInfo{
      text-align:center;
}
em{
      color:red;
      text-transform:UpperCase;
}

#parlons{
      
      width:270px;
      border:3px ridge #444;
      border-radius:10px;
      text-align:center;
      font-style:italic;
      font-weight:bolder;
      background-color:#269;
}







#piedInfo{
   height:80px;
   text-align:center;
   background-color: grey;
   margin-top:50px;
   margin-left:10%;
   margin-right: 7%;
   border:2px solid FF7F50;
}